#box,
#box2 {
    position: absolute;
    width: 75px;
    height: 75px;
    text-align: center;
    color: white;
}

#box {
    top: 0;
    left: 0;
    background-color: #40798C;
}

#box2 {
    top: 0;
    left: 0;
    background-color: #CFD7C7;
}

#points {
    font-size: 24px;
    font-weight: bold;
}

body {
    text-align: center;
    background-color: #0B2027;
    color: white;
}

a {
    color: white;
}